*{
    background-color:#1a1a1a;
    color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}
button{
    padding: 0.4rem;
	margin: 1rem 1.2rem;
    background-color: #1a1a1a;
    border-color: #f2f2f2;
    border: 0.125rem solid #f2f2f2;
    border-radius: 0.3rem;
    color: #f2f2f2;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: #f2f2f2;
    color: #1a1a1a;
}
button:active{
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}